## Modules
/node_modules
**/node_modules

## Storage
/public/storage
/storage

## Composer
/vendor
**/vendor
_ide_helper.php

## DotEnv
.env*
!.env.project
!.env.vault

## Logs
*.log
*.cache

## Homestead
Homestead.json
Homestead.yaml

## Misc
.history
.version.json
.mono
.toolkit
obj

## Vite
/public/build
/public/hot
/public/css
/public/js
./.gitattributes
